ngb-carousel {
    max-width: 100%;
    margin: 50px auto;
   
}
/* IMAGE styles */
/* ngb-carousel img {
    width: 100%;
    outline: none;
    max-height: 300px;
} */
ngb-carousel {
    width: inherit;
    height: inherit;
}
.carousel-inner {
    overflow: visible;
}
.carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;
}
.carousel-item.active{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.carousel-control-prev {
     z-index: 20;
}

.carousel-control-next {
     z-index: 20;
}
.carousel-indicators{
    z-index: 20;
}

.settings{
    right: 10px;
    bottom: 20px;
    left: auto;
    position: fixed;
    background-color: #3f51b5 !important;
}
#slide{
    min-height: 300px;
}
#pcontent{
    font-size: 50px;
    text-align: center;
    font-weight: 300;
    position: relative;
    top:100px;
   
}