<ngb-carousel 
[showNavigationArrows]="carsoleobj.showNavigationArrows" 
[showNavigationIndicators]="carsoleobj.showNavigationIndicators"
[keyboard]="carsoleobj.keyboard"
[interval]="carsoleobj.interval"
[pauseOnHover]="carsoleobj.pauseOnHover"
[wrap]="true"
[activeId]="'secondSlide'">
  <ng-template ngbSlide  *ngFor="let slide of carsoleobj.slides;let i=index" >
    <div class="picsum-img-wrapper" id="slide" [style.background-color]="slide.colorcode">
      <p id="pcontent">{{slide.title}}</p>
   
    </div>
    <div class="carousel-caption">
      {{slide.id}}
    </div>
  </ng-template>

</ngb-carousel> 
<button mat-fab color="primary"  class="settings">
  <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
</button>
